{% extends 'base.html' %} {% import 'macros.html' as macro%}

<!-- content block -->
{% block content %}
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
       <a class="btn btn-primary text-center text-danger " href={{url_for('main.new_pitch',id=category.id)}}"> Add A pitch</a>
       <hr>
  </div>
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
        
        
        <h3 class="text-center">{{category.name|upper}}</h3>
        
        <hr>
 
    </div>


  {% if pitches %}
      <div class="col-sm-12 col-md-8">
          {{ macro.displayPitches(pitches)}}
      </div>
  {%else%}
        <div class="">
          <h4 style="padding:20%; text-align:center; font-size:50px">No PITCHES HERE!</h4>
        </div>
  {% endif %}

{% endblock %}