{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    
    
{% endblock %}

{% block content %}
<br>
<div class="section1">
    <div class="row"> 
        <div class="container" id="block-text">
        <div class="col">
        <p style="font-size: 20px; font-family: 'Shrikhand', cursive;">In life you only have 60 seconds to impress someone. One minute to make or break you. How do we make sure that you use your one minute to actually say something meaningful ? </strong> </p>
        </div>
    </div>
   </div>
</div>

<hr>

<div class="container-fluid">
 
    <h3 font-family: 'Shrikhand', cursive;><a class="btn btn-primary" href="/add/category" style="background-color:blue; float:right;">ADD CATEGORY</a></h3>   
    <h2 style="text-align:center; color:blue; font-family: 'Dancing Script', cursive;">PITCH CATEGORIES </strong></h2>
<hr>
    <strong style="font-size: 20px; text-align:center; font-family: 'Dancing Script', cursive;">{{ macro.displayCategoryList(category) }} </strong>
    
   
</div>


{% endblock  %}