{% macro displayCategoryList(category_list) %}
<div class="container-fluid">
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col">
			<div class="card-body">	
				<div class="container">
				<div class="col-md-6">
			<div class="thumbnail text-center">
                <a href="{{url_for('main.category',id=category.id)}}"><p>{{category.name}}</p></a>
          </div>
		</div>
			</div>
	 	 </div>

		</div>
		{% endfor %}
	{% endif %}
</div>

{% endmacro %}


{% macro displayPitches(pitch_list) %}
<ul>
<div class="container-fluid">
			{% for pitches in pitch_list %}
				<div class="row text-center">
						<a><p style="color: brown">{{ comment.description }}</p></a>
						  <p>{{pitches.name|upper}}</p></a>
						<h3>{{pitches.content}}</h3>
				</div>
			{% endfor %}
	

	</ul>
	
	</div>		


{% endmacro %}
